




<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>

	<section>


		<div class="container" style="margin-top: 6rem;">
			<h1 class="text-center mb-5">My Contacts</h1>
			<div class="row row-cols-1 row-cols-md-4 g-4">

				<div th:each="c : ${contacts}" class="col">
				
					<div class="card">
						<img src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
							class="card-img-top" alt="..." />
						<div class="card-body">
							<h5 th:text="${c.name}" class="card-title" >User Contact</h5>
							
								
							<table style="width: 100%">
								<tr>
									<th><i class='bx bx-phone'></i></th>
									<td th:text="${c.phone}">mobile no</td>
								</tr>
								<tr>
									<th><i class='bx bx-mail-send'></i></th>
									<td th:text="${c.email}">email</td>
								</tr>
								<tr>
									<th><i class='bx bxs-user-badge'></i></th>
									<td th:text="${c.work}">job title</td>
								</tr>
							</table>
							
						</div>
						<div class="card-footer text-muted">
							<a th:href="@{/contact}" class="btn bg-primary btn-block text-white" style="background-color: #003153 !important">View Contact</a>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</section>

</body>
</html>






